@import url('https://cdn.rawgit.com/moonspam/NaunmSquara/master/nanumsquar.css');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header{
  width: 100%;
  height: 862px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 1100px;
  height: 80px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a{
  width: 204px;
  height: 77px;
  color: #313131;
  text-transform: uppercase;
  font-family: 'NanumSquarBold', sans-serif;
  font-size: 1.05em;
  letter-spacing: -0.05em;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

ul li a:hover{
  color: #000000;
  font-size: 1.2em;
  transition: 1s;
  background-image: url('img/01_button.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -376px;
}

.line{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu2{width: 300px;}
.menu3{width: 300px;}
.menu4{width: 300px;}
.menu5{width: 300px;}

.main{
  width: 100%;
  height: 580px;
  background-image: url('img/sub04_bg.png');
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 70px;
}

footer{
  width: 100%;
  height: 80px;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CBCBCB;
  font-family: 'NanumSquarBold', sans-serif;
  font-size: 0.85em;
  letter-spacing: -0.05em;
}
