@import url('https://cdn.rawgit.com/moonspam/NaunmSquara/master/nanumsquar.css');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header{
  width: 100%;
  height: 862px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 1100px;
  height: 80px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a{
  width: 204px;
  height: 77px;
  color: #313131;
  text-transform: uppercase;
  font-family: 'NanumSquarBold', sans-serif;
  font-size: 1.05em;
  letter-spacing: -0.05em;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

ul li a:hover{
  color: #000000;
  font-size: 1.2em;
  transition: 1s;
  background-image: url('img/01_button.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -376px;
}

.line{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu2{width: 300px;}
.menu3{width: 300px;}
.menu4{width: 300px;}
.menu5{width: 300px;}

.main{
  width: 100%;
  height: 580px;
  background-image: url('img/sub03_bg.png');
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

section{
  width: 100%;
  height: 3290px;
}

.bg3{
  width: 100%;
  height: 3224px;
  background: url('img/sub03_bg1.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-top: 75px;
}

.ex1{
  width: 1230px;
  height: 530px;
  background: url('img/sub03_14g1.png');
  background-repeat: no-repeat;
}
.ex1:hover{
  background: url('img/sub03_14g4.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.ex2{
  width: 670px;
  height: 624px;
  background: url('img/sub03_14g2.png');
  background-repeat: no-repeat;
  margin-top: 1254px;
  margin-left: -1230px;
}
.ex2:hover{
  background: url('img/sub03_14g5.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.ex3{
  width: 500px;
  height: 624px;
  background: url('img/sub03_14g3.png');
  background-repeat: no-repeat;
  margin-top: 1254px;
  margin-left: 62px;
}
.ex3:hover{
  background: url('img/sub03_14g6.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.ex4{
  width: 1230px;
  height: 530px;
  background: url('img/sub03_15b1.png');
  background-repeat: no-repeat;
}
.ex4:hover{
  background: url('img/sub03_15b4.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.ex5{
  width: 670px;
  height: 624px;
  background: url('img/sub03_15b2.png');
  background-repeat: no-repeat;
  margin-top: 1254px;
  margin-left: -1230px;
}
.ex5:hover{
  background: url('img/sub03_15b5.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.ex6{
  width: 500px;
  height: 624px;
  background: url('img/sub03_15b3.png');
  background-repeat: no-repeat;
  margin-top: 1254px;
  margin-left: 62px;
}
.ex6:hover{
  background: url('img/sub03_15b6.png');
  transition: 0.5s;
  background-repeat: no-repeat;
}

.exhibition1{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2910px;
}

.exhibition2{
  width: 100%;
  height: 2448px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 80px;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CBCBCB;
  font-family: 'NanumSquarBold', sans-serif;
  font-size: 0.85em;
  letter-spacing: -0.05em;
}
